<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showing result</title>
    <style>
        body {
            font-family:'Poppins', sans-serif ;
            background: linear-gradient(135deg, #ffecd2, #fcb69f)
        }

        h2 {
            color: #333;
            font-size: 2rem;
            font-weight: 600;

        }
    </style>
</head>
<body>
    <h2>form Submmited Successfully!</h2>
</body>
</html>